version: "3"
services:
    web:
        image: bheemboy/cards56web
        container_name: cards56web
        restart: unless-stopped
        dns:
            - 1.1.1.1
        ports:
            - "80:80"
            - "443:443"
        environment:
            # - CERTBOT_SERVER=https://acme-staging-v02.api.letsencrypt.org/directory
            - EMAIL=${MY_EMAIL}
            - DYN_DNS_URL=https://${MY_DNS_USER}:${MY_DNS_PWD}@domains.google.com/nic/update?hostname=56cards.net
