name: Build and publish on dockerhub

on:
  release:
    types: [published]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Get latest release of NodeJS
        uses: rez0n/actions-github-release@main
        id: cards56_release
        env:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: "bheemboy/cards56_release"
          type: "stable"

      - name: docker login
        run: docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build the Docker image 
        run: docker build . -t bheemboy/cards56web:latest -t bheemboy/cards56web:${{ steps.cards56_release.outputs.release }}

      - name: Docker Push
        run: docker push --all-tags bheemboy/cards56web
